@media (min-width: 1080px) {
  :root {
    --main-side-padding: 10em;
  }
}

@media (max-width: 1079px) {
  html { font-size: 16px; }
  :root {
    --main-side-padding: 6em;
  }
}

@media (max-width: 767px) {
  html { font-size: 14px; }
}

@media (max-width: 479px) {
  html { font-size: 11px; }
  :root {
    --main-side-padding: 2em;
  }
}

body {
  margin: 0;
  background-color: #EFEDE8;
  color: rgb(29, 29, 29);
  font-family: "Overpass Mono", monospace;
}

#main {
  margin: 0;
  padding: 0 var(--main-side-padding);
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.navigation {
  padding: .5em 0;
  display: flex;
  align-items: center;
}

.navigation .my-logo {
  flex: 1;
}

.navigation .links a {
  margin: 0 0 0 1.5em;
}

.info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

#text-name {
  margin: 0;
  font-size: 2rem;
  font-weight: 600;
}

#text-email {
  margin: .25em 0 0 0;
  font-size: 1.25rem;
  font-weight: 400;
}

#text-sorry {
  margin: 2em 0;
}

#text-sorry p {
  margin: .5em 0;
  text-align: center;
}

#big-404 {
  font-size: 10rem;
  margin: 0;
  padding: 0;
}

#description-404 {
  margin: 0 2em 1em 2em;
  font-size: 1.5rem;
  text-align: center;
}

#go-home {
  font-size: 1.25rem;
}

.blog {
  display: grid;
  grid-template-rows: auto auto;
}

.blog .blog-post-container {
  display: flex;
}

.blog .blog-post-container .blog-post {
  display: flex;
  flex: 1;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 1em;

  text-align: center;
}

.blog .footer {
  display: flex;
}

.blog .footer a {
  font-size: 1.25em;
  display: flex;
  flex: 1;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 1em;
}

