/* Variables */
$main-side-padding: 4rem;
$main-vertical-padding: 2.5rem;
$blog-vertical-padding: .75rem;
$max-body-width: 768px;
$logo-max-width: 3.5em;
// $header-font: "Overpass Mono", monospace;
$header-font: "Overpass", Arial, Helvetica, sans-serif;
$monospace-font: "Overpass Mono", monospace;
$body-font: "Open Sans", Arial, Helvetica, sans-serif;

// $brand-salmon: hsl(353, 86%, 61%); // resume color, fails contrast check
$brand-salmon: hsl(353, 86%, 49%); // AA for small text on white background
// $brand-salmon: hsl(355, 80%, 41%); // AAA for small text on white background
$brand-salmon-lighter: hsl(353, 86%, 80%);

// Scrollbar shift fix (Chrome, Firefox, and Safari tested)
html {
  margin-left: calc(100vw - 100%);
}

body {
  margin: 0;
  background-color: #ffffff;
  color: rgb(29, 29, 29);
  font-family: $body-font;
}

/* Link styling */
a {
  color: $brand-salmon;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

/* Layout components */
.root {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  // padding: 0 $main-side-padding;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.navigation {
  // padding: $main-vertical-padding $main-side-padding 0;
  padding: $main-vertical-padding $main-side-padding;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  /* nav-centering changes */
  max-width: $max-body-width;
  margin-left: auto;
  margin-right: auto;
  
  .logo-container {
    flex: 1;
    max-width: $logo-max-width;
  }
  .links {
    a {
      margin: 0 0 0 1.5rem;
      font-family: $header-font;
      font-size: 1.125rem;
    }
  }
}

.footer {
  padding: $main-vertical-padding $main-side-padding;
  display: flex;
  flex-direction: column;
  align-items: center;

  .link-to-contents {
    padding: 0.5rem 0 0;
    font-size: 1.25em;
  }

  .footer-email {
    font-family: $header-font;
    font-size: 1.25rem;
  }

  .footer-contacts {
    display: flex;
    margin: 0;
    padding: 0;
    
    li {
      list-style: none;
      margin: 0 1em;

      a {
        font-family: $header-font;
        font-size: 1.125rem;
      }
    }
  }  
}
/* END Layout components */

.info {
  padding: 0 $main-side-padding;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* Horizontal center */
  align-items: center;
  /* Vertical center */
  // justify-content: center;

  max-width: $max-body-width;
  margin-left: auto;
  margin-right: auto;

  /* Home */
  .mb-name {
    margin: 0;
    font-family: $header-font;
    font-size: 2rem;
    font-weight: 600;
  }
  
  .mb-email, .mb-title {
    margin: .25em 0 0 0;
    font-family: $header-font;
    font-size: 1.25rem;
    font-weight: 400;
  }
  
  .sorry-for-the-mess {
    margin: 2em 0;
  
    p {
      margin: .5em 0;
      text-align: center;
    }
  }

  /* Projects layout */
  .projects-grid {
    list-style: none;
    padding: 0;
    min-width: 300px;
    width: 100%;

    .project-row {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-content: center;
      margin: 3em 0 0 0;

      $middle-padding: 1.5em;

      .project-image {
        padding: 0 $middle-padding 0 0;
      }

      .project-summary {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 0 0 $middle-padding;

        .project-title {
          margin: 0;
          font-family: $header-font;
          font-size: 1.125rem;
        }

        .project-description {
          margin: 1em 0 0 0;
          font-size: 1rem;
        }
      }
    }
  }  
}


.mb-main {
  padding: 0.75em 0;
}

.mb-content-404 {
  padding: 0 $main-side-padding;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  // align-items: center;

  .page-not-found {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* Horizontal center */
    align-items: center;
    /* Vertical center */
    justify-content: center;
  
    max-width: $max-body-width;
    margin-left: auto;
    margin-right: auto;

    padding: 0 $main-side-padding;
    padding-bottom: calc(2 * #{$main-vertical-padding} + #{$logo-max-width} );
  
    /* 404 */
    #big-404 {
      font-family: $monospace-font;
      font-size: 10rem;
      margin: 0;
      padding: 0;
    }
  
    #description-404 {
      // margin: 0 2em 1em 2em;
      margin: 0 auto 1em auto;
      font-family: $monospace-font;
      font-size: 1.5rem;
      text-align: center;
    }
  
    #go-home {
      font-family: $monospace-font;
      font-size: 1.25rem;
    }
  }
}

.table-of-contents {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 $main-side-padding;
}

.blog {
  display: grid;
  grid-template-rows: auto auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 $main-side-padding;
  // margin:  0;

  .blog-content-container {
    margin: 0 auto;
    justify-content: space-around;
    max-width: $max-body-width;

    .blog-content {
      font-family: $body-font;
      font-weight: normal;

      h1, h2, h3, h4, h5, h6 {
        font-weight: 600;
        font-family: $header-font;
      }

      h1, h2, h3, h6 {
        text-align: center;
      }
      
      h1 { 
        margin: 1rem 0 0; 
      }

      h2 { 
        font-size: 1.25rem;
        margin: 1rem 0 0;
      }

      h3 {
        font-size: 1.5rem;
        margin: 2rem 0 0;
      }

      h4 {
        font-size: 1.25rem;
        margin: 1.5rem 0 0;
      }

      h5 {
        font-size: 1rem;
        margin-bottom: 0;
      }

      p {
        margin: 1em 0 0;
        line-height: 1.5rem;
        font-weight: normal;
      }

      // Image captions
      h6 {
        margin: .75em auto 1em auto;
        font-family: $body-font;
        font-size: 0.75em;
      }

      blockquote {
        margin: 0;
        padding: 1.5rem 3.5rem;
        display: flex;
        justify-content: center;
        
        p {
          margin: 0;
          font-size: 1.5rem;
        }
      }

      a .mdx-link {
        width: 100%;
      }

      /* Adjacent Sibling selectors */
      h3 + p {
        margin: .5rem 0 0 0;
      }

      h3 + h4 {
        margin: 0.75rem 0 0;
      }

      h4 + p {
        margin: .25rem 0 0 0;
      }

      h5 + ul {
        margin-top: 0.33rem;
      }
    }

      /* Not in Layout, but borrows layout styling */
    .projects-footer {
      margin: 2rem auto 0;
      padding: 3rem 0;
      border-top: solid 1px black;

      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      
      .projects-footer-description {
        font-size: 1.5rem;
        margin-top: 0; 
        margin-bottom: 0.25rem;
        font-weight: bold;
        padding: .5rem 0;
      }

      .projects-list-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-family: $header-font;
        font-weight: 600;
        font-size: 1.25rem;
        
        .footer-link {
          color: gray;
          margin: .25rem .75rem;
          &:hover {
            color: black;
          }
        }
      
        .active-project-link {
          color: $brand-salmon;
          &:hover {
            color:$brand-salmon;
          }
        }
      } 
    }
  } 
}

@media (max-width: 1023px) {
  html { font-size: 16px; }
}

@media (max-width: 767px) {
  html { font-size: 14px; }
}

@media (max-width: 479px) {
  html { font-size: 12px; }
  $small-vertical-padding: 0.5rem;
  $small-side-padding: 1.5rem;
  
  .navigation { 
    // padding: $small-vertical-padding $small-side-padding 0; 
    padding: $small-vertical-padding $small-side-padding;
  }  
  .footer { 
    padding: 0 $small-side-padding $main-vertical-padding; 
  }  
  .info { 
    padding: 0 $small-side-padding; 
  }
  .mb-content-404 { 
    padding: 0 $small-side-padding; 
    .page-not-found {
      padding-bottom: calc(2 * #{$small-vertical-padding} + #{$logo-max-width} );
    }
  }
  .table-of-contents { 
    padding: 0 $small-side-padding; 
  }
  .blog { 
    padding: 0 $small-side-padding; 
  }
}

@media (max-width: 359px) {
  html { font-size: 12px }
  $xs-vertical-padding: 0.75rem;
  $xs-side-padding: 1rem;

  .navigation { 
    // padding: $xs-vertical-padding $xs-side-padding 0; 
    padding: $xs-vertical-padding $xs-side-padding; 
  }  
  .footer { 
    padding: 0 $xs-side-padding $main-vertical-padding; 
  }  
  .info { 
    padding: 0 $xs-side-padding; 
  }
  .mb-content-404 { 
    padding: 0 $xs-side-padding; 
    
    .page-not-found { 
      padding: 0;
      padding-bottom: calc(2*#{$xs-vertical-padding} + #{$logo-max-width});
    }
  }
  .table-of-contents { 
    padding: 0 $xs-side-padding; 
  }
  .blog { 
    padding: 0 $xs-side-padding; 
  }
}