/* Variables */
$main-side-padding: 4rem;
$main-vertical-padding: 2.5rem;
$blog-vertical-padding: 1.25rem;
$max-body-width: 960px;

body {
  margin: 0;
  background-color: #EFEDE8;
  color: rgb(29, 29, 29);
  font-family: "Overpass Mono", monospace;
}

/* Layout components */
#main {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navigation {
  padding: $main-vertical-padding $main-side-padding 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
  .logo-container {
    flex: 1;
  }
  .links {
    a {
      margin: 0 0 0 1.5rem;
    }
  }
}

.footer {
  padding: $main-vertical-padding $main-side-padding;
  display: flex;
  flex-direction: column;
  align-items: center;

  .link-to-contents {
    padding: 0.5rem 0 0;
    font-size: 1.25em;
  }
}
/* END Layout components */

.info {
  padding: 0 $main-side-padding;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;

  /* Home */
  .mb-name {
    margin: 0;
    font-size: 2rem;
    font-weight: 600;
  }
  
  .mb-email {
    margin: .25em 0 0 0;
    font-size: 1.25rem;
    font-weight: 400;
  }
  
  .sorry-for-the-mess {
    margin: 2em 0;
  
    p {
      margin: .5em 0;
      text-align: center;
    }
  }
  
  /* 404 */
  #big-404 {
    font-size: 10rem;
    margin: 0;
    padding: 0;
  }
  
  #description-404 {
    margin: 0 2em 1em 2em;
    font-size: 1.5rem;
    text-align: center;
  }
  
  #go-home {
    font-size: 1.25rem;
  }
}

.table-of-contents {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 $main-side-padding;
}

.blog {
  display: grid;
  grid-template-rows: auto auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: $blog-vertical-padding $main-side-padding;

  .blog-post-container {
    margin: 0 auto;
    justify-content: space-around;
    max-width: $max-body-width;

    .blog-post {
      .blog-post-content {
        font-family: "Open Sans", Arial, Helvetica, sans-serif;
        font-weight: normal;

        h1 { 
          margin: 1rem 0 0;
          text-align: center;
        }

        h2 { 
          font-size: 1.25rem;
          margin: 1rem 0 0;
          text-align: center;
        }

        h3 {
          font-size: 1.5rem;
          margin: 1.75rem 0 0;
          text-align: center;
        }

        h4 {
          font-size: 1.25rem;
          margin: 1.5rem 0 0;
        }

        p {
          margin: 1em 0 0;
          line-height: 1.5rem;
        }

        h6 {
          margin: .75em auto 1em auto;
          text-align: center;
          font-size: 0.75em;
        }

        blockquote {
          margin: 0;
          padding: 1.5rem 3.5rem;
          display: flex;
          justify-content: center;
          
          p {
            margin: 0;
            font-size: 1.5rem;
          }
        }

        a .mdx-link {
          width: 100%;
        }
      }
    }
  }
}

span {
  display: none;
}

@media (max-width: 1079px) {
  html { font-size: 16px; }
}

@media (max-width: 767px) {
  html { font-size: 14px; }
}

@media (max-width: 479px) {
  html { font-size: 11px; }
}

@media (max-width: 359px) {
  html { font-size: 12px }
  $small-side-padding: 0.75rem;
  .navigation { padding: $main-vertical-padding $small-side-padding 0; }  
  .footer { padding: 0 $small-side-padding $main-vertical-padding; }  
  .info { padding: 0 $small-side-padding; }
  .table-of-contents { padding: 0 $small-side-padding; }
  .blog { padding: 0 $small-side-padding; }
}