body {
  margin: 0;
  background-color: #EFEDE8;
  color: rgb(29, 29, 29);
  font-family: "Overpass Mono", monospace;
}

#info-box {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 200px auto;
}

#name, #email {
  text-align: center;
}